server.modules = ("mod_fastcgi", "mod_rewrite")
server.document-root = "/Users/mahmudul/Dropbox/Middleware_course/mha145/RestFul_Vesrion/src"   
server.port = 3000
server.bind = "129.242.19.250"

  
fastcgi.server = ( "/restful.py" =>
((
   "socket" => "/tmp/fastcgi.socket",
   "bin-path" => "/Users/mahmudul/Dropbox/Middleware_course/mha145/RestFul_Vesrion/src/restful.py",
   "max-procs" => 1,
   "bin-environment" => (
     "REAL_SCRIPT_NAME" => ""
   ),
   "check-local" => "disable"
))
)


url.rewrite-once = (
  "^/favicon.ico$" => "/static/favicon.ico",
  "^/static/(.*)$" => "/static/$1",
  "^/(.*)$" => "/restful.py/$1"
)
